header {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header .header-inner {
    flex-basis: 50%;
    height: 30%;
    background-color: red;
}
