/* @import "../variables";


.form-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .form-main-div {
        flex-basis: 35%;
    }

    h1 {
        color: #fff;

        .yellow {
            color: $yellow;
        }
    }
    h3 {
        color: #fff;
        
    }
    
    .form-container {
        
        background-color: $blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        
        
        .input {
            width: 100%;
            margin: 7px auto;
            padding: 10px;
            

        }

        .btn {
            color: #000;
            background-color: $yellow;
            border: 1px $yellow;
            width: 90px;
            height: 50px;
            font-size: 20px;
            display: block;
            
        } */
