.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    color: #fff;
    padding: 10px;
}

.header .finances {
    display: inline-block;
}

.header .finances i {
    color: #ecd407;
    padding: 10px;
}

.header .call p i {
    padding: 10px;
}
